@font-face{
	font-family: ErmilovBold;
	font-display: swap;
	src: url("../fonts/ErmilovBold.woff2") format("woff2"), url("../fonts/ErmilovBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: RobotoBold;
	font-display: swap;
	src: url("../fonts/RobotoBold.woff2") format("woff2"), url("../fonts/RobotoBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: RobotoRegular;
	font-display: swap;
	src: url("../fonts/RobotoRegular.woff2") format("woff2"), url("../fonts/RobotoRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
